.imgFigure,
.imgFigure > img,
.imgFigure__caption {
    box-sizing: border-box;
    display: block; /* for browsers that don't style figure and figcaption tags */
}

.imgFigure {
    display: inline-block;
    line-height: 0;
    max-width: 100%;
}

.imgFigure > img {
    max-width: 100%;
}

.imgFigure {
    position: relative;
}

.imgFigure__caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.imgFigure__caption--bottom {
    position: static;
}

.imgFigure__caption > a {
    color: #fff;
}