// Layout
$content-width: 768px;

// Colors
$white: #fff;
$black: #222;
$grey: #aaa;
$light-grey: #ddd;
$lighter-grey: #eee;

// Typography
$font-fam: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$base-size: 16px;
$title-color: #222;
$subtitle-color: #aaa;